@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}
.sr-only {
    display: none;
}

.main {
    max-width: 300px;
    margin-top: 12rem;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 17px;
    border-radius: 25px;
    margin: 0 1em;
}

.card img {
    width: 100%;
    border-radius: 3%;
}

.card_title {
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-size: 1.3rem;
    padding: 1.5rem 0.7rem;
}

.card_text {
    text-align: center;
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
    padding: 0 0.7rem 0.7rem 0.7rem;
}